body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6e6c6cad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 13%;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.445);
    width: 400px;
}
h1{
    text-align: center;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
input, button{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
button{
    background-color: #3ba153;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #218838;
}
ul{
    list-style-type: circle;
    padding: 0;
}
li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
#resetButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #c82333;
}